/* @media(min-width:576px) small screen */
/* @media(min-width:768px) tablate screen */
/* @media(min-width:992px) large screen */
/* @media(min-width:1200px) Xlarge screen */


/***** Iphone******/
@media(max-width:768px){


    /* ******** nav ***************** */
    #name{ font-size: 30px !important; margin: 0px 0px !important;}
    .collapse{ margin: 0px -0px !important; }

    /* ****** header **************** */
    header{ height: 620px !important;}
    #name-1{ font-size: 15px !important;}
    .text-header h1{ font-size: 45px !important;}
    .text-header p{ font-size: 15px !important;}
    #spin{ font-size: 30px !important;}
    .btn-1 a{ font-size: 15px !important;}

    .text-header{ width: 390px !important;  margin-top: 90px !important; }
    .photo0{ margin-top: 270px !important; width:420px !important ; height:350px !important ; margin-right:-15px !important;}


   

    .one span{  margin-left: 150px !important;}
    .one h2{ font-size: 30px !important;}
    .photo-1 i{ margin-top: 60px !important; margin-left: 25px !important; font-size: 40px !important;}
    .photo-1{ margin-bottom: 550px !important; margin-left: 20px !important;  width: 350px !important; height: 300px !important;}
    .photo-0{ width:240px !important; height: 210px !important; margin-bottom: -60px !important;}
    .photo-00{ width: 180px !important; height: 170px !important; position: absolute; margin-top: 180px !important; }
    .text-section-one{ margin-left: 0px !important;}
    #oo{ margin-left: 10px !important; margin-top: -80px !important;}
    #pp{ margin-left: 0px !important; margin-top: 60px !important; font-size: 20px !important; }
    .text-photo{ margin-left:180px !important; }
    .ll{ margin-top: -60px !important; font-size: 20px !important;}
    .text-photo .line{ width: 5px !important; height: 70px !important; margin-top: -140px; margin-left: 10px ;}
    .box{  margin-left: -5px !important;}





/* ================= two ================= */
    .two span{  margin-left: 150px !important;}
    .two h2{ font-size: 30px !important;}
    .line{ width: 370px !important;}
    .onee .line-e{ width:330px !important ;}
    .twoo .line-e{width: 270px !important ;}
    .threee .line-e{width:340px !important ;}
    .foure .line-e{width:240px !important ;}
    .five .line-e{width: 210px !important;}
    .six .line-e{width:360px !important ;}

    #mm{ margin-top: 10px !important;}


/* ================three =================================== */
    .three span{  margin-left: 150px !important;}
    .three h2{ font-size: 30px !important;}
    .btn-2{ margin-left: 13px !important;}


 /* ================ four  ================================== */
    .four #ooo{  margin-left: 150px !important;}
    .four h2{ font-size: 30px !important;  }
    input{ padding: 10px; width: 100% !important; border-radius: 5px; background-color: rgb(35, 35, 35); border: none; }
    .qq{ margin: 10px 0px !important; }
    .uu{  margin:10px 0px !important; width: 100% !important ; }
    .btn-4{ margin-right: 0px !important;}
    form{ margin-top: 50px;}
    #cont{ margin:10px;}
    
    
   



    








}

/***** Ipad ******/
@media(width:768px){
    /* ======= nav =================== */
    #name{ font-size: 30px !important; margin: 0px 0px !important;}
    .collapse{ margin: 0px -0px !important; }

    /* ============ header ==================== */
    /* header{ height: 860px !important;} */
    .photo0{ margin-top: 70px !important; margin-right: -10px !important; width: 650px !important; height:550px !important; }

    /* ============ one ======================== */
    .one{ height: 1300px !important;}
    .one span{ margin-left: 300px !important;}
    .one h2{ font-size: 50px !important;}
    .photo-1{ width: 500px !important; height: 420px !important;  margin-top: 50px !important; margin-bottom: 30px !important; margin-left: 100px !important;}
    .photo-1 i{ font-size: 50px !important;position: absolute; margin-top: 80px !important; margin-left: 40px !important; background-color:rgb(0, 255, 115); padding: 10px !important; border-radius: 10px; }
    .photo-0{ width:330px !important; height: 350px !important; background: url('../img/About.jpg') no-repeat; background-size: cover; float: right !important;}
    .photo-00{ width: 230px !important; height: 250px !important; background: url('../img/About.jpg') no-repeat; background-size: cover; margin-top: 220px !important; position: absolute;} 
    .text-photo{ position: relative; margin-left: 270px !important; margin-top: 520px !important; position: absolute;  width: 200px !important; height: 70px !important; }
    .text-photo .line{ width: 5px !important; height: 70px !important; background-color: rgb(0, 255, 115);}
    #oo{ margin-left: 10px !important; font-size: 50px; padding: 5px !important; margin-top: -80px !important; position: absolute;}
    .ll{ margin-top: -60px !important; color: white;}
    #pp{ margin-left: 10px !important; color: white; font-size: 30px !important;}
    .one h4{ font-size: 30px !important; position: absolute; margin-left: 80px !important; margin-top: -80px !important; }
    .text-section-one{ margin-top: 100px !important; margin-left: 150px !important;}

    .text-section-one h5{ color: white; font-size: 35px !important;}
    .text-section-one p{ color: white; }  

    /* ========= two ============================ */
    .two span{  margin-left: 300px !important;}
    .two h2{ font-size: 50px !important;}
    .line{ width: 670px !important;}
    .onee .line-e{ width:630px !important ;}
    .twoo .line-e{width: 570px !important ;}
    .threee .line-e{width:640px !important ;}
    .foure .line-e{width:540px !important ;}
    .five .line-e{width: 510px !important;}
    .six .line-e{width:660px !important ;}
    .row{ margin-left: 6px !important;}
    

    /* ======== three =========================== */
    .three span{  margin-left: 300px !important;}
    .three h2{ font-size: 50px !important;}
    .btn-2{ margin-left: 150px !important; font-size: 30px !important;}

    /* ======== four ============================= */
    .four #ooo{  margin-left: 300px !important;}
    .four h2{ font-size: 50px !important;}
    .four h4{ font-size: 35px;}




    














}
